body {
            background: linear-gradient(to bottom right, #eef3ff, #ffffff);
            font-family: Arial, Helvetica, sans-serif;
        }

        .page-title {
            text-align: center;
            margin-top: 40px;
            color: #0d6efd;
            font-weight: 700;
        }

        .subtitle {
            text-align: center;
            margin-top: -8px;
            color: #666;
        }

        .card-area {
            background: white;
            border-radius: 20px;
            padding: 35px;
            margin-top: 40px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
        }

        .icon-box {
            font-size: 40px;
            color: #0d6efd;
            margin-right: 10px;
        }

        .section-title {
            font-size: 22px;
            font-weight: bold;
            display: flex;
            align-items: center;
            color: #333;
        }

        .btn-primary {
            padding: 14px;
            font-size: 18px;
            border-radius: 10px;
        }

        @media (max-width: 576px) {
            .card-area {
                padding: 20px;
            }
        }



.service-btn:hover {
            background: #0d6efd;
            color: white !important;
            transform: translateY(-10px);
            transition-duration: 0.4s;
            
        }

        .service-btn.active {
            background: #0d6efd;
            color: white;
            
            
        }

        .card-area {

            max-width: 900px; 
            width: 100%;
        }