.service-btn:hover {
    background: #0d6efd;
    color: white !important;
    transform: translateY(-10px);
    transition-duration: 0.4s;    
}

.card-area {
    max-width: 900px; 
    width: 100%;
}